* {
    box-sizing: border-box;
    font-family: 'Lora', serif;
    margin: 0px;
}

/* HEADER CONTAINER */

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #A9BFE4;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 80px;
    flex-wrap: nowrap;
}

.nav__list .nav__item {
    display: inline-block;
    padding: 0px 20px;
    margin: auto;
}

.nav__item {
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
}

#logo {
    height: 65px;
}

#lupa {
    height: 20px;
    margin-right: 20px;
}

#basket {
    height: 20px;
}

.nav__item:hover {
    text-decoration: underline solid 1px #FFFFFF;
    text-underline-position: under;
}

/* MAIN CONTAINER */

.main__container {
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: center;
    height: 455px;
    gap: 20px;
    padding-left: 5%;
    padding-top: 5%;
}

.into__basket, .into__catalog {
    width: 190px;
    height: 45px;
    align-items: center;
    text-align: center;
    border: 2px solid #FFC2C7;
    border-radius: 50px;
    margin: 10px;
}

.into__basket {
    color: white;
    box-shadow: -2px 6px 10px rgba(0, 0, 0, 0.3);
    background-color: #FFC2C7;
}

.into__catalog {
    color: #989EC3;
    border: 2px solid #FFC2C7;
    background-color: white;
}

.aside__image {
    display: flex;
    align-items: center;
    float: right;
    flex-wrap: nowrap;
}

#bg__web {
    align-self: center;
    margin-top: 5%;
}